.nike{
    border: solid rgb(241, 235, 235);
border-bottom: none;
    height:285px;
    width: 300px;
    margin-left: 320px;
 margin-bottom: 50px;
  
}




.puma{
    border: solid rgb(241, 235, 235);
border-bottom: none;
    height:285px;
    width: 300px;
    margin-top: -340px;
  
}

.box{
   
   border: solid rgb(241, 235, 235);
   border-bottom: none;
    height: 30px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    background-color: black ;
    color: aliceblue;
    padding-top: 15px;
    
}
.box1{
    background-color: rgb(241, 235, 235);
    border: solid rgb(241, 235, 235);
    padding: 10px;
    margin: -1px;
text-align: center;
}
.box2{
    text-align: center;
}
.box3{
    text-align: center;
}
.box4{
    text-align: center;
}
.box5{
    text-align: center;
}
.box7{
    background-color: #22df22;
border: 1px solid;
width: 70px;
text-align: center;
color: white;
margin: 115px;
margin-top: -45px;

}
.box6{
    background-color: rgb(241, 235, 235);
    border: solid rgb(241, 235, 235);
    padding-bottom: 38px;
}
.box9{ border: solid rgb(241, 235, 235);
    border-bottom: none;
     height: 30px;
     width: 300px;
     text-align: center;
     font-size: 20px;
     color: aliceblue;
     padding-top: 15px;
    background-color: #22df22;
}
.nikee1{
    border: solid rgb(241, 235, 235);
    border-bottom: none;
        height:285px;
        width: 300px;
        margin-left: 640px;
  margin-bottom: -290px;
}
.box15{
    border: solid rgb(241, 235, 235);
    border-bottom: none;
     height: 30px;
     width: 300px;
     text-align: center;
     font-size: 20px;
     color: aliceblue;
     padding-top: 15px;
    background-color: #22df22;

}
.box11{
    background-color: #22df22;
border: 1px solid;
width: 70px;
text-align: center;
color: white;
margin: 115px;
margin-top: -45px;


}